.headline {
    margin-top: 0;
    font-family: 'Anton-Regular', Arial;
    color: rgb(65, 65, 65);
    &__teaser {
        font-size: 5.75rem;
        line-height: 5.9rem;
        font-weight: 900;
    }
    &__xxlarge {
        font-size: 4.15rem;
        line-height: 4.2rem;
        font-weight: 900;
    }
    &__xlarge {
        font-size: 3.35rem;
        line-height: 3.38rem;
        font-weight: 800;
    }
    &__large {
        font-size: 2.8rem;
        line-height: 2.57rem;
        font-weight: 700;
    }
    &__medium {
        font-size: 2.45rem;
        line-height: 2.49rem;
        font-weight:700;
    }
    &__small {
        font-size: 1.9rem;
        line-height: 1.8rem;
        font-weight: 700;
    }
}