$padding: 15px;
$color__primarylight: rgb(60, 66, 71);
$color__secondarylight: #ffffff;
@import url("/scss/colors.scss");

.textbox {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen;
    text-shadow: .5px .5px 1px rgb(102, 102, 102);
    color: $color__primarylight;
    background: $color__secondarylight;
    font-size: 1.15rem;
    padding: $padding;
    margin: 0;
    text-align: left;
    border-radius: 3px;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
    box-shadow: inset 0px 0px 1px 2px rgba(85, 85, 85, 0), 0px 1px 2.5px 0.5px rgb(90, 90, 90);
    font-weight: 100;
    border: none;
    outline: none;
    width: calc(100% - (#{$padding} * 2) );
}