$color__primarylight: rgb(60, 66, 71);
@import url("/scss/colors.scss");

.paragraph {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen;
    margin: 0;
    color: rgb(60, 66, 71);
    &__teaser {
        font-size: 1.6rem;
        line-height: 1.65rem;
        font-weight: 400;
    }
    &__medium {
        font-size: 1.2rem;
        line-height: 1.3rem;
        font-weight: 200;
    }
}