$padding: 30px;

.code {
    padding: $padding;
    display: block;
    width: calc(100% - (#{$padding} * 2) );
    position: relative;
    white-space: pre;
    overflow: auto;
    box-shadow: 2px 2px 3px 2px rgb(144, 144, 144);
    color: rgb(44, 44, 44);
    border-radius: 4px;
    background-color: rgb(241, 241, 241);

    &data {
        &__conditional, &__loop, &__variable {
            font-weight: 900;
        }
        &__conditional {
            color: rgb(0, 176, 192);
        }
        &__loop {
            color: rgb(111, 0, 255);
        }
        &__variable {
            color: rgb(255, 80, 80);
        }
    }
}