.button {
    font-family: 'Anton-Regular';
    text-shadow: .5px .5px 1px rgb(102, 102, 102);
    color: #444444;
    font-size: 1.35rem;
    line-height: 1.25rem;
    letter-spacing: 1.3px;
    box-shadow: inset 0px 0px 1px 2px rgba(85, 85, 85, 0), 0px 2px 2px rgb(90, 90, 90);
    font-weight: 100;
    transition: .2s;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 13px;
    background-color: #f0f0f0;

    &:hover{
        transform: scale(1.075);
        color: rgb(238, 238, 238);
        background-color: #eb513d;
    }
    &:active{
        color: rgb(255, 188, 126);
        background-color: #eb513d;
        transform: scale(0.950);
    }
}
