.alert {
    position: relative;
    border-radius: 6px;
    box-shadow: 2px 1px 2px 1px rgba(70, 70, 70, 0.596);
    padding: 20px;
    &__headline, &__paragraph {
        margin: 0;
        text-shadow: none;
        font-family: Arial, Helvetica, sans-serif;
    }
    &__headline {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }
    &__error {
        background-color: rgb(238, 58, 34);
        .alert__headline {
            color: rgb(255, 141, 137);
        }
        .alert__paragraph {
            color: rgb(255, 141, 137);
        }
    }
    &__warning {
        background-color: rgb(252, 231, 41);
        .alert__headline {
            color: rgb(128, 119, 0);
        }
        .alert__paragraph {
            color: rgb(128, 115, 0);
        }
    }
    &__info {
        background-color: rgb(85, 182, 247);
        .alert__headline {
            color: rgb(5, 126, 148);
        }
        .alert__paragraph {
            color: rgb(5, 126, 148);
        }
    }
    &__success {
        background-color: rgb(114, 194, 68);
        .alert__headline {
            color: rgb(42, 112, 10);
        }
        .alert__paragraph {
            color: rgb(42, 112, 10);
        }
    }
    &__icon {
        position: absolute;
        top: -10px;
        right: -10px;
        width: auto;
        cursor: pointer;
        transition: .14s;
        &:hover{
            transform: scale(1.25);
        }
        &:active{
            transform: scale(0.910);
        }
    }
}