.flex {
    display: flex;
    position: relative;
    &__item {
        align-self: center;
    }
    &__item_inline {
        display: inline-flex;
    }
    &__horizontal {
        flex-direction: row;

    }
    &__vertical {
        flex-direction: column;
    }
    
}