.link {
    font-family: 'Anton-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen;
    margin: 0;
    font-weight: 800;
    font-size: 1.1rem;
    line-height: 1.3rem;
    letter-spacing: 1.5px;
    color: #eb513d;
    text-decoration-thickness: 2px;

    &__teaser {
        font-size: 1.6rem;
        line-height: 1.65rem;
    }
    &__medium {
        font-size: 1.2rem;
        line-height: 1.3rem;
    }
}