$color__primarylight: rgb(60, 66, 71);
$color__secondarylight: #ffffff;
@import url("/scss/colors.scss");

.numberbox {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen;
    text-shadow: .5px .5px 1px rgb(102, 102, 102);
    color: rgb(60, 66, 71);
    background: #ffffff;
    font-size: 1.25rem;
    padding: 11.25px;
    text-align: left;
    border-radius: 3px;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
    box-shadow: inset 0px 0px 1px 2px rgba(85, 85, 85, 0), 0px 1px 2.5px 0.5px rgb(90, 90, 90);
    font-weight: 100;
    border: none;
    outline: none;
    max-height: 20px;
    margin: auto 0;
    &__flex_outside {
        gap: 16px;
    }
    &__flex {
        width: 100%;
        gap: 6px;
        display: flex;
    }
}

.numberbox__image {
    cursor: pointer;
    transition: .15s;
    width: 35px;
    border: none;
    box-shadow: none;
    self-align: center;

    &:hover{
        transform: scale(1.12);
    }
    &:active{
        transform: scale(0.910);
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}