.radio {
    position: relative;
    margin-bottom: 10px;

    &input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    &__label {
        transition: .15s;
        padding-left: 35px;
        font-weight: 100;
        font-family:"Anton-Regular", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen;
        font-size: 1.2rem;
        line-height: 1.3rem;
        color: #474747;
        &_checked {
            font-weight: 900;
            color: #eb513d;
        }
    }

    &__dot {
        position: absolute;
        top: 0;
        left: 0;
        width: 26px;
        height: 26px;
        background-color: #474747;
        border-radius: 50%;
        transition: .15s;
        &::before {
            position: absolute;
            content: " ";
            top: 1.45px;
            left: 1.45px;
            width: 23px;
            height: 23px;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
        }
        &::after {
            position: absolute;
            content: " ";
            top: 5px;
            left: 5px;
            width: 16px;
            height: 16px;
            background-color: #474747;
            border-radius: 10px;
        }
        &_checked {
            background-color: #eb513d;
            &::after { 
                background-color: #eb513d;
            }
        }
    }
}