.image {
    position: relative;

    &__scale_up_down {
        width: 100%;
        height: auto;
    }

    &__scale_down {
        max-width: 100%;
        height: auto;
    }

    &__bordered {
        box-shadow: 2px 2px 10px 1px rgba(40, 40, 40, 0.952);
        border-radius: 2px;
    }
}